--swiftversion 6.0
--indent 4
--maxwidth none
--exclude .build,.swiftpm,DerivedData
--disable consecutiveBlankLines,hoistTry,indent,noForceUnwrapInTests,preferCountWhere,preferKeyPath,redundantReturn,redundantSelf,redundantThrows,sortImports,spaceAroundOperators,trailingCommas,unusedArguments,wrapPropertyBodies
